body{
    background-color:#4EBDEB;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

nav{
    background-color: #0b5777;
    display: flex;
    justify-content:space-between;
    padding-left: 5px;
    padding-right: 5px;
    color: aliceblue;
    margin: -8px;
}

.links{
    align-self: center;

}

a{
    color: #0b5777;
    text-decoration: none;
}

button{
    background-color: aliceblue;
    border: none;
    border-radius: 2px;
}

.learn{
    border: solid black;
    width: 100%;
    margin-top: 20px;
    background-color: rgba(240, 248, 255, 0.342);
    border-radius: 3px;
    text-align: center;
}

.boxcontainer{
    display: grid;
    grid-template-columns: 1fr 1.75fr;
    margin: 20px;
}

.quote{
    border: solid black;
    border-radius: 3px;
    background-color: rgba(240, 248, 255, 0.342);
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

img{
    width: 450px;
    border: solid rgba(240, 248, 255, 0.815);
}

.about1{
    border: solid black;
    margin-top: 20px;
    border-radius: 3px;
    background-color: rgba(240, 248, 255, 0.342);
    width: 100%;
    text-align: center;
}

.about2{
    border: solid black;
    border-radius: 3px;
    background-color: rgba(240, 248, 255, 0.342);
    margin-top: 20px;
    width: 25%;
    text-align: center;
}

.about3{
    border: solid black;
    border-radius: 3px;
    background-color: rgba(240, 248, 255, 0.342);
    margin-top: 20px;
    width: 25%;
    text-align: center;
}

.title{
    border: solid black;
    width: 100%;
    margin-top: 20px;
    background-color: rgba(240, 248, 255, 0.342);
    border-radius: 3px;
    text-align: center;
}

.twitch{
    border: solid black;
    border-radius: 3px;
    background-color: rgba(240, 248, 255, 0.342);
    margin-top: 20px;
    width: 25%;
    text-align: center;
}

.paddle{
    border: solid black;
    border-radius: 3px;
    background-color: rgba(240, 248, 255, 0.342);
    margin-top: 20px;
    width: 25%;
    text-align: center;
}

article .contact{
    text-align: center;
    border: solid black;
    border-radius: 3px;
    margin-top: 20px;
    background-color: rgba(240, 248, 255, 0.342);
}

article div{
    text-align: center;
    margin-top: 100px;
}

article form div input{
    color: #0b5777;
    width:300px;
    background-color: aliceblue;
    border: none;
    border-radius: 2px;
}

article form article{
    text-align: center;
}

article form article input{
    color: #0b5777;
    background-color: aliceblue;
    border: none;
    border-radius: 2px; 
}