body{
    background-color:#4EBDEB;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

nav{
    background-color: #0b5777;
    display: flex;
    justify-content:space-between;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
    color:whitesmoke
}

.links{
    align-self: center;

}

a{
    color: #0b5777;
    text-decoration: none;
}

button{
    background-color: white;
    border: none;
    border-radius: 2px;
}